header{
	width: 100%;
	height: 50px;
	background: #00cccc;
}

#logo{
	width: 30%;
	height: 100%;
	float: left;
}

#logo img{
	max-width: 45%;
	margin: 5px;
}
 
#menu{
	font-family: 'Oswald', sans-serif;
	width: 70%;
	height: 100%;
	float: left;
}
 
#list-menu li{
	display: inline-block;
	line-height: 50px;
	margin: 0 5px;
}

#list-menu li a{
	text-decoration: none;
	color: #FFF;
} 
 	
#corpo{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.5;
	color: #000;
}

#foto{
	width: 50%;
	float: left;
}

#foto img{
	width: 100%;
}

#principal{
	background: #FFF;
	width: 50%;
	float: left;
}

#principal p{
	margin: 8px 5px;
}

#principal p a{
	text-decoration: none;
	color: #000;
}

#principal p a:hover{
	text-decoration: underline;
}

footer{
	margin: 8px 5px;
}
.icon-social {
	width: 40px;
}

#formulario{
	width: 100%;
}

#login, #contato{
	width: 70%;
	margin: 0 auto;
	text-align: center;
	font-size: 30px !important; 
}

#login div{
	margin: 5px auto;
}

#checkbox{
	font-size: 15px !important;
}

#botao input{
	color: #00cccc;
}

#esqueci a{
	font-size: 15px !important;
	color: #00cccc;
	text-decoration: none;
}

#esqueci a:hover{
	text-decoration: underline;

}

.servicos{
	font-size:30px !important;	
}

.servicos h1, .servicos h2{
	margin: 8px 5px;
}

#opcoes a{
	color: #00cccc;
	text-decoration: none;
	margin: 8px 5px;
	font-size: 25px;
}