header{
	width: 100%;
	height: 50px;
	background: #00cccc;
}

#logo {
	width: 30%;
	height: 100%;
	float: left;
}
 
#menu {
	font-family: 'Oswald', sans-serif;
	width: 70%;
	height: 100%;
	float: left;
}
 
#list-menu li {
	display: inline-block;
	line-height: 50px;
	margin: 0 5px;
}

#list-menu li a {
	text-decoration: none;
	color: #FFF;
} 
 	
#corpo {
	background: green;
	width: 100%;
	min-height: 846px;
}

#foto {
	background: yellow;
	width: 50%;
	float: left;
	min-height: 846px;
}

#principal{
	background: #FFF;
	width: 50%;
	float: left;
	min-height: 846px;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 1.5;
}